<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDaSwT5L2I1qN8Fxw60nKBH_OIt9ZxYyKI</string>
	<key>GCM_SENDER_ID</key>
	<string>465678927315</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tdl</string>
	<key>PROJECT_ID</key>
	<string>to-do-list-b701d</string>
	<key>STORAGE_BUCKET</key>
	<string>to-do-list-b701d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:465678927315:ios:126428b529f5dd84321b26</string>
	<key>DATABASE_URL</key>
	<string>https://to-do-list-b701d-default-rtdb.firebaseio.com</string>
</dict>
</plist>